.buttons-container {
	display: flex;
	flex-direction: row;

	& .button:first-of-type {
		margin-right: 3%;
	}
}

.button {
	padding: 0.6rem 1.2rem;
	text-decoration: none;
	font-size: calc($font-size * 0.9);
	font-weight: $font-bold;
	white-space: nowrap;
	cursor: pointer;
	text-align: center;
	transition: background 250ms ease-in-out, transform 150ms ease;
	border: none;
	border-radius: 7px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	&:active {
		outline: none;
	}

	&.-primary-blue {
		background-color: $soft-blue;
		color: $white;
		border: 3px solid $soft-blue;
		&:hover {
			background-color: $white;
			color: $soft-blue;
		}
	}

	&.-secondary {
		background-color: $white;
		color: $dark-blue;
		border: 3px solid $white;
		transition: border 250ms ease-in-out, transform 150ms ease;
		&:hover {
			border: 3px solid $dark-blue;
		}
	}
}
